<!DOCTYPE html>
<html>
<head>
	<title>Despre noi</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	{%load static%}
	<link rel="stylesheet" type="text/css" href="{%static 'abiut.css'%}">
</head>	
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h2>Despre noi</h2>
				</div>
				<div class="content">
					<h3>Lorem ipsum dolor sit amet, consectetur adipisicing</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.

				</p>
					
				</div>
				<h2>CONTACT</h2>
				<div class="content">
					<h3>Lorem ipsum dolor sit amet, consectetur adipisicing</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<div class="button">
						<a href="">+4074290080</a>
					</div>
					<div class="button">
						<a href="">gradi.35@gmail.com</a>
					</div>
				</div>
				
			</div>
			<div class="image-section">
				<img src="{%static '1.jpg'%}">
			</div>
		</div>
	</div>

	
</body>
</html>